ETL_DATABASE_URL="postgresql+asyncpg://user:pass@host/neondb?ssl=require"
BOT_DATABASE_URL="postgresql+asyncpg://user:pass@host/neondb?ssl=require"
LOCAL_DATABASE_URL="sqlite+aiosqlite:////absolute_path/myfolder/mydb.db"
BOT_TOKEN="bot_token_here"